# nevada project sku

on init && property:ro.vendor.hw.esim="false"
    mount none /product/lost+found /product/etc/permissions/android.hardware.telephony.euicc.xml bind

# NFC
on property:ro.vendor.hw.nfc=nq && property:persist.vendor.nfc.config_file_name=*
    start vendor.nfc_hal_service

on property:ro.vendor.hw.nfc=ese_nq && property:persist.vendor.nfc.config_file_name=*
    start vendor.nfc_hal_service

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc-service.nxp
    override
    class early_hal
    user nfc
    group nfc drmrpc system
    disabled

on property:ro.vendor.hw.nfc=ese_nq
    start vendor.secure_element_hal_service

service vendor.secure_element_hal_service /vendor/bin/hw/android.hardware.secure_element-service.nxp
    override
    class hal
    user secure_element
    group secure_element
    disabled
